<div class='page-header'>
  <h1><%= @project.name %>'s tickets</h1>
</div>


<ul>
  <% @project.tickets.each do |ticket| %>
    <li><%= link_to ticket.name, [@project, ticket] %></li>
  <% end %>
</ul>